@font-face {
  font-family: "iconfont"; /* Project id 2804526 */
  src: url('iconfont.woff2?t=1631516971249') format('woff2'),
       url('iconfont.woff?t=1631516971249') format('woff'),
       url('iconfont.ttf?t=1631516971249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zg-into:before {
  content: "\e750";
}

.zg-room:before {
  content: "\e751";
}

.zg-mirror-normal:before {
  content: "\e752";
}

.zg-loading:before {
  content: "\e753";
}

.zg-time:before {
  content: "\e754";
}

.zg-up-large:before {
  content: "\e755";
}

.zg-up:before {
  content: "\e756";
}

.zg-setting-small:before {
  content: "\e757";
}

.zg-setting:before {
  content: "\e758";
}

.zg-down-large:before {
  content: "\e74a";
}

.zg-choice:before {
  content: "\e74b";
}

.zg-down:before {
  content: "\e74c";
}

.zg-copy:before {
  content: "\e74d";
}

.zg-feadback:before {
  content: "\e74e";
}

.zg-replay:before {
  content: "\e74f";
}

.zg-bad-small:before {
  content: "\e742";
}

.zg-normal:before {
  content: "\e743";
}

.zg-pause-normal:before {
  content: "\e744";
}

.zg-logo:before {
  content: "\e745";
}

.zg-bad:before {
  content: "\e746";
}

.zg-play:before {
  content: "\e747";
}

.zg-normal-small:before {
  content: "\e748";
}

.zg-pause-hover:before {
  content: "\e749";
}

.ze-data-pick:before {
  content: "\e734";
}

.ze-data:before {
  content: "\e735";
}

.ze-view:before {
  content: "\e736";
}

.ze-view-pick:before {
  content: "\e737";
}

.zg-camera-close:before {
  content: "\e738";
}

.zg-camera-fault:before {
  content: "\e739";
}

.zg-camera-pick:before {
  content: "\e73a";
}

.zg-camera-normal:before {
  content: "\e73b";
}

.zg-invite-pick:before {
  content: "\e73c";
}

.zg-invite:before {
  content: "\e73d";
}

.zg-mic-bad:before {
  content: "\e73e";
}

.zg-mic-close:before {
  content: "\e73f";
}

.zg-mic-normal:before {
  content: "\e740";
}

.zg-mic-pick:before {
  content: "\e741";
}

