@font-face {
  font-family: "iconfont"; /* Project id 2703157 */
  src: url('iconfont.woff2?t=1629344163616') format('woff2'),
       url('iconfont.woff?t=1629344163616') format('woff'),
       url('iconfont.ttf?t=1629344163616') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_mic_fault:before {
  content: "\e711";
}

.icon-icon_cam_fault:before {
  content: "\e712";
}

.icon-icon_camrea:before {
  content: "\e70f";
}

.icon-icon_people:before {
  content: "\e710";
}

.icon-icon_handle:before {
  content: "\e70e";
}

.icon-icon_miac_normal:before {
  content: "\e702";
}

.icon-icon_loudspeaker_pick:before {
  content: "\e703";
}

.icon-icon_camera_normal:before {
  content: "\e704";
}

.icon-icon_get:before {
  content: "\e705";
}

.icon-a-icon_nopass:before {
  content: "\e706";
}

.icon-icon_camera_pick:before {
  content: "\e707";
}

.icon-icon_loudspeaker_normal:before {
  content: "\e708";
}

.icon-icon_miac_pick:before {
  content: "\e709";
}

.icon-icon_no:before {
  content: "\e70a";
}

.icon-icon_result_pick:before {
  content: "\e70b";
}

.icon-icon_result_normal:before {
  content: "\e70c";
}

.icon-icon_yes:before {
  content: "\e70d";
}

.icon-icon_fail:before {
  content: "\e701";
}

.icon-icon_arrows_up:before {
  content: "\e6e9";
}

.icon-icon_close:before {
  content: "\e6ea";
}

.icon-icon_cam_off:before {
  content: "\e6eb";
}

.icon-icon_about_normal:before {
  content: "\e6ec";
}

.icon-icon_arrows_down:before {
  content: "\e6ed";
}

.icon-icon_feedback_normal:before {
  content: "\e6ee";
}

.icon-icon_cam_on:before {
  content: "\e6ef";
}

.icon-icon_HD:before {
  content: "\e6f0";
}

.icon-icon_data_normal:before {
  content: "\e6f1";
}

.icon-icon_mic_off:before {
  content: "\e6f2";
}

.icon-icon_music:before {
  content: "\e6f3";
}

.icon-icon_operation_mic_on:before {
  content: "\e6f4";
}

.icon-icon_mic_on:before {
  content: "\e6f5";
}

.icon-icon_operation_mic_off:before {
  content: "\e6f6";
}

.icon-icon_loading:before {
  content: "\e6f7";
}

.icon-icon_setting_pause:before {
  content: "\e6f8";
}

.icon-icon_setting_play:before {
  content: "\e6f9";
}

.icon-icon_problem:before {
  content: "\e6fa";
}

.icon-icon_wheat:before {
  content: "\e6fb";
}

.icon-a-icon_Movethemic:before {
  content: "\e6fc";
}

.icon-icon_show_mic_off:before {
  content: "\e6fd";
}

.icon-icon_setting_music:before {
  content: "\e6fe";
}

.icon-a-icon_settingup:before {
  content: "\e6ff";
}

.icon-icon_setting_normal:before {
  content: "\e700";
}

